# Flutter / Dart
.dart_tool/
build/
.pub/
.pub-cache/
.packages

# Android signing
android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
# IDE
.idea/
*.iml

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Build / caches
build/
.dart_tool/